<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">

    <link href="~/Content/WardrobeProj6.css" rel="stylesheet" />

</head>

<body>

    <div class="navbar navbar-inverse navbar-static-top" id="navvy">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="Home" class="navbar-brand" href="#"><span class="glyphicon glyphicon-grain"></span></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <a id="Home" class="navbar-brand" href="#"><span class="glyphicon glyphicon-tower"></span></a>
                </button>
                @Html.ActionLink("Cosplay Capers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="~/Outfits/Index">Outfits</a></li>
                    <li>@Html.ActionLink("Wardrobe", "Wardrobe", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-static-top" id="navvy">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="Home" class="navbar-brand" href="/Category2/Index"><span class="glyphicon glyphicon-grain"></span></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <a id="Home" class="navbar-brand" href="#"><span class="glyphicon glyphicon-flash"></span></a>
                </button>
                @Html.ActionLink("WeapTech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
    @*<li>@Html.ActionLink("About", "About", "Home")</li>
    <li><a href="/Categories/Index">Weapon Categories</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/WeapDetails/Index">Weapon Details</a></li>
        <li><a href="/Reviews/Index">Customer Reviews</a></li>
        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
    </ul>
    </div>
    </div>
    </div>*@



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>

</html>
