@model WeekProj6.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Outfit</h4>
    <hr />
    
        <div class="col-sm-12 col-md-12">
            @*<img src=@Url.Content(Model.Photo) class="detail-photo">*@
            <div class="thumbnail">
                <div class="caption text-center">

                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <p>@Html.DisplayFor(model => model.Hat.Name)</p>
                    <p>@Html.DisplayFor(model => model.Accessory.Name)</p>
                    <p>@Html.DisplayFor(model => model.Top.Name)</p>
                    <p>@Html.DisplayFor(model => model.Dress.Name)</p>
                    <p>@Html.DisplayFor(model => model.Bottom.Name)</p>
                    <p>@Html.DisplayFor(model => model.Sho.Name)</p>
                    <p>@Html.DisplayFor(model => model.Bag.Name)</p>
                    <p>@Html.DisplayFor(model => model.Date)</p>
                </div>
            </div>
        </div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
